<div class="flex flex-col items-center justify-center min-h-screen bg-background text-light">
    <h1 class="text-6xl font-bold text-primary">404</h1>
    <p class="text-xl text-secondary mt-2">Oops! Page not found</p>
    <p class="text-lg text-gray-400 mt-2">The page you are looking for doesn’t exist or has been moved.</p>
    <a routerLink="/users/dashboard" class="mt-6 px-6 py-3 bg-primary text-accent font-semibold rounded-lg hover:bg-secondary transition">
      Go Back Home
    </a>
  </div>
  