<header class="rounded-none  bg-primary text-light shadow-lg">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <!-- Logo -->
    <a routerLink="/users/dashboard" class="text-xl font-bold flex items-center gap-2">
      <i class="fa fa-briefcase text-yellow-400"></i>
      FoundIt.in - Job Portal
    </a>

    <!-- Navigation -->
    <nav class="flex items-center space-x-6">
     

      <!-- User Profile & Logout -->
      <div class="flex items-center space-x-4">
        <!-- User Profile Dropdown -->
        <span class="hidden md:inline">{{userName}} </span>
        <div class="relative group">
          <button class="flex items-center space-x-2 hover:text-accent"
         
          (click)="toggleDropdown($event)">           
            <i class="fa fa-user text-xl "></i>
            <!-- <span class="hidden md:inline">Profile</span> -->
          </button>

          <!-- Dropdown Menu -->
          <div 
          #dropdownMenu
          [class.hidden]="!isDropdownVisible"
          class="absolute right-0 mt-2 w-40 bg-white text-black rounded-lg shadow-lg p-2">
       <button 
              (click)="myprofile()" 
              class="l-0 py-2 hover:bg-white-200 w-full">
              <i class="fa fa-user-circle"></i> My Profile
             </button>
            <button 
              (click)="settings()" 
              class="l-0 py-2 hover:bg-white-200 w-full">
              <i class="fa fa-cog"></i> Settings
            </button>
            <button 
              (click)="logout()" 
              class="l-0 py-2 hover:bg-white-200 w-full">
              <i class="fa fa-sign-out"></i> Logout
            </button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
