<app-header class="w-full"></app-header>

<div class="container mx-auto p-6 min-h-screen">
    <h2 class="text-xl font-bold text-primary">User Details</h2>

    <div class="mt-4 bg-white p-4 rounded-lg shadow">
        <p><strong>Name:</strong> {{ userData?.name }}</p>
        <p><strong>Email:</strong> {{ userData?.email }}</p>
        <p><strong>Phone Number:</strong> {{ userData?.phoneNumber }}</p>
           </div>

    <!-- User Skills -->
    
    <h3 class="text-lg font-semibold mt-6">Skills</h3>
       <div class="mt-4 bg-white p-4 rounded-lg shadow">
        <p *ngFor="let skill of skills">{{ skill }}</p>
   
</div>


<h3 class="text-lg font-semibold mt-6">Resume</h3>
<div class="mt-4 bg-white p-4 rounded-lg shadow">
  <!-- Download button to allow users to download the PDF -->
<ng-container *ngIf="resumeUrl">   
  <div *ngIf="resumeUrl" class="flex justify-between items-center w-full">
    <!-- View Resume (Left Aligned) -->
    
    <a [href]="resumeUrl"  rel="noopener noreferrer" target="_blank" class="text-blue-500 font-medium hover:underline">
      
      <span>View Resume </span>
      <i class="fas fa-download"></i>
    </a>
<!--     
    <iframe *ngIf="resumeUrl" [src]="getUserResumeUrl(resumeUrl)"  width="100%" height="500" frameborder="0"></iframe> -->

   
    <!-- Download Resume (Right Aligned) -->
     
    
  </div>

    <iframe  *ngIf="resumeUrl"
    [src]="getResumePath(resumeUrl)"
    class="w-full h-full p-5 rounded-lg"
    frameborder="0">
  </iframe> 
  
 </ng-container> 
  <p *ngIf="!resumeUrl"  >
    No Resume Found
  </p>
</div>

<!-- Applied Jobs -->
<h3 class="text-lg font-semibold mt-6">Applied Jobs</h3>

<!-- Show Jobs List if Available -->
<div class="mt-4 bg-white p-4 rounded-lg shadow" *ngIf="appliedJobs.length > 0">
    <ul class="list-disc ml-5">
        <li *ngFor="let job of appliedJobs" class="flex justify-between items-center mb-2">
            <span>{{ job.jobTitle }} - {{ job.location }}</span>
            <button (click)="viewJobApplicationDetails(job)" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">
                View Details
            </button>
        </li>
    </ul>
</div>

<!-- Show "Not Applied" Message If No Jobs Are Available -->
<div class="mt-4 bg-white p-4 rounded-lg shadow" *ngIf="appliedJobs.length === 0">
    Not Applied to any Jobs
</div>

</div>

<app-footer></app-footer>
