
<app-header class="w-full"></app-header>

<div class="container mx-auto min-h-screen ag-grid-custom-height p-6">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-bold text-primary">Manage Jobs</h2>
        <button 
            (click)="addNewJob()"   
            class="bg-primary text-white px-4 py-2 rounded-md hover:bg-primary2 transition-all">
            + Add New Job
        </button>
    </div>
    <app-ag-grid
        [rowData]="jobs"
        [colName]="jobColumn">
        [frameworkComponents]="frameworkComponents">
    </app-ag-grid>
</div>

<app-footer></app-footer>
