<header class=" rounded-none bg-primary text-light shadow-lg fixed top-0 w-full z-50">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <a routerLink="/admin/dashboard" class="text-xl font-bold">FoundIt.in - Admin Panel</a>

    <nav class="flex items-center space-x-6">
      <a routerLink="/admin/reports" class="hover:text-accent flex items-center gap-1">
        <i class="fa fa-dashboard"></i> Report
      </a>
      <a routerLink="/admin/manage-jobs" class="hover:text-accent flex items-center gap-1">
        <i class="fa fa-briefcase"></i> Manage Jobs
      </a>
      <a routerLink="/admin/manage-users" class="hover:text-accent flex items-center gap-1">
        <i class="fa fa-users "></i> Manage Users
      </a>
 
 
      <div class="flex items-center space-x-4">
        <div class="relative group">
    
        <!-- Profile Button -->
        <button 
          class="flex items-center space-x-2 hover:text-accent"
          (click)="toggleDropdown($event)">
          <i class="fa fa-user text-xl"></i>
          <span class="hidden md:inline">Profile</span>
        </button>
          <!-- Dropdown Menu -->
          
          <div 
            #dropdownMenu
            [class.hidden]="!isDropdownVisible"
            class="absolute right-0 mt-2 w-40 bg-white text-black rounded-lg shadow-lg p-2">
            <button 
              (click)="myprofile()" 
              class="l-0 py-2 hover:bg-gray-200 w-full">
              <i class="fa fa-user-circle"></i> My Profile
            </button>
            <button 
              (click)="settings()" 
              class="l-0 py-2 hover:bg-gray-200 w-full">
              <i class="fa fa-cog"></i> Settings
            </button>
            <button 
              (click)="logout()" 
              class="l-0 py-2 hover:bg-gray-200 w-full">
              <i class="fa fa-sign-out"></i> Logout
            </button>
          </div>
        </div>

        
      </div>
    </nav>
  </div>
</header>
